doctype html
html
    head
        // Basic
        title BCNC | Event Manager
        // Define Charset
        meta(charset='utf-8')
        // Responsive etatag
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // Page Description and Author
        meta(name='description', content='Business Career and Networking Club')
        meta(name='author', content='Bryan Ngo')
        // font
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        // Bootstrap CSS
        link(rel='stylesheet', href='assets/css/bootstrap.min.css', type='text/css', media='screen')

        // materialize
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')

        // Font Awesome CSS
        link(rel='stylesheet', href='stylesheets/font-awesome.min.css', type='text/css', media='screen')
        // Slicknav
        link(rel='stylesheet', type='text/css', href='stylesheets/slicknav.css', media='screen')
        // Margo CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css', media='screen')
        // Responsive CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css', media='screen')
        // Css3 Transitions Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/animate.css', media='screen')
        // Color CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/jade.css', title='jade', media='screen')
        link(rel='stylesheet', href='/stylesheets/dropzone.css')



        // For the clock picker
        link(rel='stylesheet', href='https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/css/materialize.clockpicker.css')

        link(rel='stylesheet', href='/stylesheets/dropzone.css')

        // Margo JS
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(type='text/javascript', src='javascripts/jquery.migrate.js')
        script(type='text/javascript', src='javascripts/modernizrr.js')
        script(type='text/javascript', src='assets/js/bootstrap.min.js')
        script(type='text/javascript', src='javascripts/jquery.fitvids.js')
        script(type='text/javascript', src='javascripts/owl.carousel.min.js')
        script(type='text/javascript', src='javascripts/nivo-lightbox.min.js')
        script(type='text/javascript', src='javascripts/jquery.isotope.min.js')
        script(type='text/javascript', src='javascripts/jquery.appear.js')
        script(type='text/javascript', src='javascripts/count-to.js')
        script(type='text/javascript', src='javascripts/jquery.textillate.js')
        script(type='text/javascript', src='javascripts/jquery.lettering.js')
        script(type='text/javascript', src='javascripts/jquery.easypiechart.min.js')
        script(type='text/javascript', src='javascripts/jquery.nicescroll.min.js')
        script(type='text/javascript', src='javascripts/jquery.parallax.js')
        script(type='text/javascript', src='javascripts/mediaelement-and-player.js')
        script(type='text/javascript', src='javascripts/jquery.slicknav.js')
        script(type='text/javascript', src='javascripts/script.js')
        //if IE 8
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

        body#radial-center
            #fb-root
            script.
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=271855249904420";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            script(src='https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js')
            script(type='text/javascript').
                var feed = new Instafeed({
                    get: 'user',
                    userId: '2996892988',
                    accessToken: '2996892988.1677ed0.d9ba50f469fb43cf9a1d1c91f17c6714',
                    template: 'li a.lightbox(href = \'{{link}}\') img(alt = \'\', src = \'{{image}}\')'
                });
                feed.run();

        // Container
        #container
            // Start Header
            .hidden-header
            header.clearfix
                // Start Top Bar
                .top-bar
                    .container
                        .row
                            .col-md-6
                                // Start Contact Info
                                ul.contact-details
                                    li
                                        a(href='#')
                                            i.fa.fa-map-marker
                                            |  Davis, CA
                                    li
                                        a(href='mailto:contactbcnc@gmail.com')
                                            i.fa.fa-envelope-o
                                            |  contactbcnc@gmail.com
                                // End Contact Info
                            .col-md-6
                                // Start Social Links
                                ul.social-list
                                    li
                                        a.facebook.itl-tooltip(data-placement='bottom', title='Facebook', target='_blank', href='https://www.facebook.com/davisbcnc/?ref=br_rs')
                                            i.fa.fa-facebook
                                    li
                                        a.linkdin.itl-tooltip(data-placement='bottom', title='Linkedin', target='_blank', href='https://www.linkedin.com/company/business-career-&-networking-club')
                                            i.fa.fa-linkedin
                                    li
                                        a.instgram.itl-tooltip(data-placement='bottom', title='Instagram', target='_blank', href='https://www.instagram.com/ucd.bcnc/')
                                            i.fa.fa-instagram
                                // End Social Links
                // End Top Bar
                // Start Header ( Logo & Naviagtion )
                .navbar.navbar-default.navbar-top
                    .container
                        .navbar-header
                            // Stat Toggle Nav Link For Mobiles
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                i.fa.fa-bars
                            // End Toggle Nav Link For Mobiles
                            a.navbar-brand(href='/')
                                img(alt='', src='images/bcnc.png')
                        .navbar-collapse.collapse
                            // Start Navigation List
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='/') Home
                                li
                                    a(href='about') About
                                li
                                    a(href='our-team') Our Team
                                li
                                    a(href='partners') Partners
                                li
                                    a(href='faq') FAQs
                                    ul.dropdown
                                        li
                                            a(href='faq') Students
                                        li
                                            a(href='faq#organizations-spacing') Organizations
                                        li
                                            a(href='faq#professionals-spacing') Professionals
                                li
                                    a(href='contact') Contact
                                li
                                    a.active(href='form') Apply
                            // End Navigation List
                    // Mobile Menu Start
                    ul.wpb-mobile-menu
                        li
                            a(href='/') Home
                        li
                            a(href='about') About
                        li
                            a(href='our-team') Our Team
                        li
                            a(href='partners') Partners
                        li
                            a(href='faq') FAQs
                        li
                            a(href='contact') Contact
                        li
                            a(href='form') Apply
                    // Mobile Menu End
                // End Header ( Logo & Naviagtion )
            // End Header
            // Start Purchase Section
            .section.purchase
                .container
                    // Start Video Section Content
                    .section-video-content.text-center
                        h1.fittext.wite-text.uppercase
                            strong Admin Event Manager
                        // Start Animations Text
                        h1.fittext.wite-text.uppercase.tlt
                            span.texts
                                span Add Events
                                span Delete Events
                                span Customize Views
                                span Yay!
                        // End Animations Text
                    // End Section Content
                // .container
            // End Purchase Section
        br
        div.container
            h3.center Add Events
            hr
        div.row
            form.col.s12
                div.row
                    div.input-field.col.s12.m6
                        i.material-icons.prefix spellcheck
                        input#eventname.validate(type="text")
                        label(for="eventname") Event Name
                    div.input-field.col.s12.m6
                        i.material-icons.prefix attachment
                        input#link.validate(type="text")
                        label(for="link") Event Link
                div.row
                    div.input-field.col.s12.m6
                        i.material-icons.prefix today
                        input#date.validate.datepicker(type="text")
                        label(for="date") Date
                    div.input-field.col.s12.m6
                        i.material-icons.prefix alarm
                        input#time.validate.timepicker(type="time")
                        label(for="time") Time
                div.row
                    div.input-field.col.s12
                        i.material-icons.prefix language
                        select#org
                            option(value="" disabled selected) Select the Organization
                            option(value="Actuarial Science Association") Actuarial Science Association
                            option(value="Alpha Kappa Psi") Alpha Kappa Psi
                            option(value="Ascend") Ascend
                            option(value="Consult Your Community") Consult Your Community
                            option(value="Davis Accounting Society") Davis Accounting Society
                            option(value="Davis Consulting Group") Davis Consulting Group
                            option(value="Davis Women In Business") Davis Women In Business
                            option(value="Delta Sigma Pi") Delta Sigma Pi
                            option(value="Economics & Business Association") Economics & Business Association
                            option(value="Finance and Investment Club") Finance and Investment Club
                            option(value="Net Impact") Net Impact
                            option(value="Vita") Vita
                        label(for="org") Organization
                div.row
                    div.input-field.col.s12
                        i.material-icons.prefix question_answer
                        textarea#event_description.materialize-textarea(placeholder="Purpose? Audience? Additional resources?")
                        label(for="event_description") Enter the event description here.

        br
        div.center-align
            button#submit.btn.waves-effect.waves-lighten.blue.darken-1.disabled(onclick="eventsubmit()") Submit Event

            table(data-toggle='table', id='table', data-classes='table')
                thead
                    tr
                        th(data-field='eventname', data-sortable='true') Event Name
                        th(data-field='link', data-sortable='true') Event Link
                        th(data-field='date', data-sortable='true') Date
                        th(data-field='time', data-sortable='true') Time
                        th(data-field='org', data-sortable='true') Organization
                        th(data-field='eventdescription', data-sortable='true') Event Description
                tbody
                    - var index = 0;
                    each event in events
                        - var eventname = event['eventname'];
                        - var eventlink = event['link'];
                        - var eventdate = event['date'];
                        - var eventtime = event['time'];
                        - var eventorg = event['org'];
                        - var eventdescription = event['eventdescription'];
                        - var eventID = event['_id'];
                        - index++;

                        tr(id='#{eventID}')
                            td=eventname
                            td=eventlink
                            td=eventdate
                            td=eventtime
                            td=eventorg
                            td=eventdescription
                            td
                                button.btn.waves-effect.waves-lighten.btn-danger(onclick="remove('#{eventID}');") Delete

            footer(style='margin-top: 5%')
                .container
                    .row.footer-widgets
                        // Start Subscribe & Social Links Widget
                        .col-md-3
                            .footer-widget.mail-subscribe-widget
                                h4
                                    | Subscribe to our Newsletter
                                    span.head-line
                                p Join our mailing list to stay up to date and get notices about upcoming events!
                                form.subscribe(action='https://formspree.io/contactbcnc@gmail.com', method='POST')
                                    input(type='text', placeholder='mail@example.com')
                                    input.btn-system(type='submit', value='Send')
                            .footer-widget.social-widget
                                h4
                                    | Follow Us
                                    span.head-line
                                ul.social-icons
                                    li
                                        a.facebook(target='_blank', href='https://www.facebook.com/davisbcnc/?ref=br_rs')
                                            i.fa.fa-facebook
                                    li
                                        a.linkdin(target='_blank', href='https://www.linkedin.com/company/business-career-&-networking-club')
                                            i.fa.fa-linkedin
                                    li
                                        a.instgram(target='_blank', href='https://www.instagram.com/ucd.bcnc/')
                                            i.fa.fa-instagram
                        // .col-md-3
                        // End Subscribe & Social Links Widget
                        .col-md-3.col-xs-12
                            .footer-widget
                                .fb-page(data-tabs='timeline', data-href='https://www.facebook.com/davisbcnc', data-width='380', data-small-header='true', data-height='300', data-hide-cover='false')
                        // Start InstaFeed Widget
                        .col-md-3.col-xs-12
                            .footer-widget.flickr-widget
                                h4
                                    | Insta Feed
                                    span.head-line
                                ul.flickr-list
                                    #instafeed
                        // .col-md-3
                        // End InstaFeed Widget
                        // Start Contact Widget
                        .col-md-3.col-xs-12
                            .footer-widget.contact-widget
                                h4
                                    img.img-responsive(src='images/bcnc.png', alt='Footer Logo')
                                p
                                    | The Business Career and Networking Club was created to bridge the gap between businesses and UC Davis students. We strive to link qualified individuals with innovative companies by working year-round to bring value to our students and their future employers.
                                ul
                                    li
                                        span Email:
                                        |  contactbcnc@gmail.com
                                    li
                                        span Website:
                                        |  www.bcnclub.com
                        // .col-md-3
                        // End Contact Widget
                    // .row
                    // Start Copyright
                    .copyright-section
                        .row
                            .col-md-6
                                p
                                    | © 2017 BCNC - All Rights Reserved
                                    a(href='bcnclub.com') BCNC
                            // .col-md-6
                            .col-md-6
                                ul.footer-nav
                                    li
                                        a(href='contact') Contact
                            // //.col-md-6
                    // End Copyright

            // End Footer
            // End Container
            // Go To Top Link
            a.back-to-top(href='#')
                i.fa.fa-angle-up
            #loader
                .spinner
                    .dot1
                    .dot2
            script(type='text/javascript', src='javascripts/script.js')

        //script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")

        script(src="javascripts/nottypeform.js" type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js")

        script(src="https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/js/materialize.clockpicker.js" type="text/javascript")
        script(src='javascripts/eventmanager.js' type='text/javascript')


